
body{
   background-image: url("https://cdn.pixabay.com/photo/2017/08/10/01/49/stars-2616989_640.jpg");
   background-repeat: repeat;
}

div{
   background-color: MidnightBlue;
   color: AliceBlue;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   font-family: monospace;
   letter-spacing: 10px;
   padding: 10px;
   border: 10px solid AliceBlue;
   margin: 20px;
   width: 40%;
}

#sources_name{
   background-color: MidnightBlue;
   color: AliceBlue;
   text-align: left;
   font-size: 10px;
   font-weight: bold;
   font-family: monospace;
   padding: 10px;
   border: 10px solid AliceBlue;
   margin: 20px;
   width: 20%;
}

table{
   margin: 20px;
   border: 15px dotted CornflowerBlue;
}

#r1c1, #r1c2{
   background-color:RoyalBlue;
   padding: 10px;
   color: white;
}

#r2c1{
   background-color:LightSteelBlue;
   border-style: solid;
   border-color: SteelBlue;
}

#r2c2{
   background-color: LightSkyBlue;
   border-style: solid;
   border-color:RoyalBlue;
}

#r3c1{
   background-color: LightSeaGreen;
   border-style: solid;
   border-color: SeaGreen;
}

#r3c2{
   background-color: SkyBlue;
   border-style: solid;
   border-color: Teal;
}

#image1{
   list-style-image: url("design-2461957_640.png");
}


#color1{
   color:RoyalBlue;
}

#armenian{
   list-style-type:armenian;
}

#color2{
   color: Teal;
}

#image2{
   list-style-image: url("star.png");
}
